body{
	font-family: "Times New Roman";
	background-color:#F2FFFC;
}
main h1{
	font-size:60px;
	background-color: #851944;
	color:#FAFFFA;
	text-align: center;
	font-family: "Open Sans Condensed";
}

h2{
	font-size:40px;
	font-family: "Open Sans Condensed";
}

p{
	text-align: justify;
	font-family: "Crimson Text";
}